{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <form action="" method="POST">
      <h1 id="form-header">Create a new link</h1>
      {{ '<br>'.join(form.csrf_token.errors) }}
      {{ form.csrf_token }}
      {{ '<br>'.join(form.endpoint.errors) }}
      <br>
      <ul>
        <li>{{ form.endpoint(size=20, placeholder="Endpoint") }}</li>
        <li>{{ form.url(size=20, placeholder="URL") }}</li>
        <li>{{ form.submit }}</li>
      </ul>
    </form>
  </div>
{% endblock %}
