{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <form action="" method="POST">
      <h1 id="form-header">/{{ link.endpoint }}</h1>
      {{ '<br>'.join(form.csrf_token.errors) }}
      {{ form.csrf_token }}
      {{ '<br>'.join(form.url.errors) }}
      <br>
      <ul>
        <li>
          <button type="button" class="btn btn-danger">Deactivate link</button>
          <button type="button" class="btn btn-secondary">Reset password</button>
        </li>
        <br>
        <li><h4>New URL:</h4></li>
        <li>{{ form.url(size=20, value=link.url) }}</li>
        <br>
        <li><h4>New password:</h4></li>
        <li>{{ form.password(size=20, value=link.password) }}</li>
        <li>{{ form.submit }}</li>
      </ul>
    </form>
  </div>
{% endblock %}
