{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <form action="" method="POST">
      <h1 id="form-header">/{{ link.endpoint }}</h1>
      {{ '<br>'.join(form.csrf_token.errors) }}
      {{ form.csrf_token }}
      {{ '<br>'.join(form.url.errors) }}
      <ul>
        <li>
          <div id="edit-anchor">
            {% if status == 'active' %}
              <a class="deactivate" href="/deactivate/{{ link.id }}">Deactivate link</a>
              {% if has_password %}
                <a class="reset-delete" href="/reset/active/{{ link.id }}">Reset password</a>
              {% endif %}
            {% else %}
              <a class="activate" href="/activate/{{ link.id }}">Activate link</a>
              {% if has_password %}
                <a class="reset-delete" href="/reset/inactive/{{ link.id }}">Reset password</a>
              {% endif %}
            {% endif %}
            <a class="reset-delete" href="/delete/{{ status }}/{{ link.id }}">Delete link</a>
          </div>
        </li>
        <br>
        <li><h4>Change URL:</h4></li>
        <li>{{ form.url(size=40, value=link.url) }}</li>
        <br>
        {% if has_password %}
          <li><h4>Change password:</h4></li>
        {% else %}
          <li><h4>Set a password:</h4></li>
        {% endif %}
        <li>{{ form.password(size=40) }}</li>
        <li>{{ form.submit }}</li>
      </ul>
    </form>
  </div>
{% endblock %}
