{% extends 'base.html' %} {% block content %}
<div class="container">
  <br /><br />
  <div id="create">
    <a href="/create">
      <img src="plus.png" height="50" width="50" alt="Not found" />
    </a>
  </div>
  <br /><br />
  <table class="all-links-table">
    <tr>
      <th>Endpoint</th>
      <th>Link</th>
      <th>Short link</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    {% for row in ac_data %}
    <tr>
      <td>/{{ row.endpoint }}</td>
      <td><a href="{{ row.url }}">{{ row.url }}</a></td>
      <td>{{ domain_name }}/{{ row.endpoint }}</td>
      <td>
        <a href="/deactivate/{{ row.id }}">
          <img src="on.png" width="20" height="20" alt="Not found" />
        </a>
      </td>
      <td>
        <a href="/edit/active/{{ row.id }}">
          <img src="edit.png" width="20" height="20" alt="Not found" />
        </a>
      </td>
      <td>
        <a href="/delete/active/{{ row.id }}">
          <img src="delete.png" width="20" height="20" alt="Not found" />
        </a>
      </td>
    </tr>
    {% endfor %} {% for row in in_data %}
    <tr>
      <td>/{{ row.endpoint }}</td>
      <td><a href="{{ row.url }}">{{ row.url }}</a></td>
      <td>{{ domain_name }}/{{ row.endpoint }}</td>
      <td>
        <a href="/activate/{{ row.id }}">
          <img src="off.png" width="20" height="20" alt="Not found" />
        </a>
      </td>
      <td>
        <a href="/edit/inactive/{{ row.id }}">
          <img src="edit.png" width="20" height="20" alt="Not found" />
        </a>
      </td>
      <td>
        <a href="/delete/inactive/{{ row.id }}">
          <img src="delete.png" width="20" height="20" alt="Not found" />
        </a>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
