{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <br><br>
    <div id="create">
      <a href="/create">
        <img src="plus.png" height="50" width="50" alt="Not found">
      </a>
    </div>
    <br><br>
    <table class="all-links-table">
      <tr>
        <th>Endpoint</th>
        <th>Link</th>
        <th>Short link</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      {% for link in link_data %}
        <tr>
          <td>/{{ link.endpoint }}</td>
          <td><a href="{{ link.url }}">{{ link.url }}</a></td>
          <td>{{ domain_name }}/{{ link.endpoint }}</td>
          {% if link.is_active %}
            <td>
              <a href="/deactivate/{{ link.id }}">
                <img src="on.png" width="20" height="20" alt="Not found">
              </a>
            </td>
          {% else %}
            <td>
              <a href="/activate/{{ link.id }}">
                <img src="off.png" width="20" height="20" alt="Not found">
              </a>
            </td>
          {% endif %}
          <td>
            <a href="/edit/{{ link.id }}">
              <img src="edit.png" width="20" height="20" alt="Not found">
            </a>
          </td>
          <td>
            <a href="/delete/{{ link.id }}">
              <img src="delete.png" width="20" height="20" alt="Not found">
            </a>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
