
    <div class="container">

      <br><br>
      <h1 id="head">All active links:</h1>
      <br><br>

      <table class="all-links-table">
        <tr>
          <th>Endpoint</th>
          <th>Owner</th>
          <th>Link</th>
          <th>Short link</th>
        </tr>
        <!--
        <tr>
          <td>/vlk</td>
          <td>vojtech.janousek@applifting.cz</td>
          <td><a href="#">http://www.vlk.cz</a></td>
          <td>fueled.by/vlk</td>
        </tr>
        <tr>
          <td>/meta</td>
          <td>vojtech.janousek@applifting.cz</td>
          <td><a href="#">https://github.com/Applifting/link-shortener</a></td>
          <td>fueled.by/meta</td>
        </tr>
        <tr>
          <td>/kodex</td>
          <td>radek.holy@applifting.cz</td>
          <td><a href="#">https://github.com/Applifting/culture</a></td>
          <td>fueled.by/kodex</td>
        </tr>
      </table>
    </div>
  </body>
</html>
-->
