.copy {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}

.hoverCopy {
  display: none;
  position: absolute;
  margin-left: 5px;
}
.copyHoverSquare {
  height: 2rem;
  width: 6rem;
  background: var(--primary-black);
  z-index: 1;
  display: flex;
  color: var(--white);
  margin-right: 1.5rem;
  align-items: center;
  justify-content: center;
  position: absolute;
}
#triangle-up {
  width: 0;
  height: 0;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-bottom: 1.5rem solid var(--primary-black);
  display: block;
}

.copy:hover .hoverCopy {
  display: block;
}
.copyIconHover {
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 6px 6px 6px 5px;
  width: 1.5rem;
  height: 1.5rem;
}
.copyIconCreate {
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 1.5rem;
  height: 1.5rem;
}
.copy:hover .copyIconHover {
  opacity: 1;
}
.copy:hover .copyIcon {
  opacity: 0;
}
.copy:hover .copyIconCreate {
  opacity: 1;
}
/* edit and create */
#form {
  margin: auto;
  box-shadow: 0px 0px 6px rgba(46, 46, 46, 0.2);
  background-color: var(--white);
  width: 33.33%;
  padding-bottom: 1rem;
}

.formContent {
  display: block;
  list-style-type: none;
  padding: 0;
}
.formLabel {
  margin: 0.5rem 2.5rem;
  font-size: 1rem;
  color: var(--primary-black);
}
.formInput {
  width: 83.33%;
  margin: 0.5rem 2.5rem;
  padding: 0.5rem;
  border: 1px solid var(--primary-black);
}
#form-header {
  text-align: center;
  padding-top: 2rem;
  color: var(--primary-black);
}
.fa-angle-right {
  transform: rotate(0deg);
  transition: transform 0.3s linear;
  color: var(--primary-grey);
}

.fa-angle-right.open {
  transform: rotate(90deg);
  transition: transform 0.3s linear;
}
#backBtn {
  display: block;
  margin: 2.5rem 0;
  margin-left: 34%;
  color: var(--primary-black);
  text-decoration: none;
}

#fueled {
  color: var(--primary-grey);
  background-color: #e9eff6;
  width: 100%;
  margin: 1.5rem 0;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#fueledEndPoint {
  color: var(--primary-purple);
  font-weight: bold;
}
#shortlinked {
  color: var(--primary-grey);
  font-weight: bold;
}

@media (max-width: 870px) {
  #form {
    width: 50%;
  }
}
