.notFoundContainer {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
.notFoundElement {
  margin-top: 30px;
}
#message {
  font-size: 55px;
}
#goToDash {
  font-size: 28px;
  color: var(--primary-purple);
}
#goToDash:hover {
  text-decoration: none;
}
