.container1__border {
  border: 1px solid var(--primary-black);
  display: grid;
  grid-template-columns: 90% 10%;
}
#password {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding-left: 5px;
}
.image__container {
  display: flex;
  align-items: center;
}
.container1__password {
  height: 2.5rem;
  border: none;

  outline: none;
}
.visit__btn__container {
  padding: 0 3rem;
}
.visit__btn {
  margin-bottom: 1.5rem;
  background-color: var(--primary-purple);
  color: var(--white);
  border: none;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid var(--primary-black);
}
.container1 {
  margin-top: 3rem;
  margin-bottom: 4rem;
  padding: 0 3rem;
}
.password__form {
  margin-top: 50px;
}
.container1__red__border {
  border: 1px solid var(--red);
  margin: auto;
}
.container1__incorrectPass {
  color: var(--red);
  display: none;
}

#btn__visit {
  background-color: var(--primary-purple);
  color: var(--white);
  border: none;
  height: 3rem;
  outline: none;
}
.container1__label {
  font-size: 1rem;
  color: var(--primary-black);
}
.strip {
  color: var(--primary-grey);
  background-color: #e9eff6;
  width: 100%;
  margin: 1.5rem 0;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.strip__endPoint {
  color: var(--primary-purple);
  font-weight: bold;
}
.strip__shortlink {
  color: var(--primary-grey);
  font-weight: bold;
}
