{% extends 'base.html' %}

{% block content %}
  <br><br>
  <div class="container">
    <h1>Greetings!</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
      eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
      nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
      reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
      pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
      officia deserunt mollit anim id est laborum.
    </p>
    <br>
    <h3>How can I filter links/endpoints by their initial?</h3>
    <p>
      Use your browser's lookup function (ctrl+f or cmd+f) and search for
      'fueled.by/<letter>' - for example fueled.by/a
    </p>
    <br>
    <h3>Why did my page refresh when I hit a button?</h3>
    <p>
      As the creator is JavaScript illiterate, this site is 99% server-side.
    </p>
    <br>
    <h3>Can I and/or my company have this app?</h3>
    <p>
      Yes, Link Shortener is an open source project. You can clone the project
      <a href="https://github.com/Applifting/link-shortener">HERE</a>
    </p>
  </div>
{% endblock %}
