{% extends 'base.html' %} {% block content %}
<div>
<span id='linkcreate' class="hide">Link Created</span>
</div>
<button onclick="show()">show</button>
<div class="container">
  <form class="form">
    <div class="tbHead">
      <div class="toggle">
        <div id='statusactive'>Active</div>
        <label class="switch">
          <input type="checkbox" id="check" onclick="myFunction()">         
          <span class="slider round"></span>         
        </label>
        <div id='statusdisabled'>Disabled</div>
      </div>
      <select name="cars" id="ownerfilter">
        <option value="volvo">Owner</option>
        <option class='ownerfilter' value="saab"></option>
      </select>
      <input id="search" type="text" placeholder="Search"/>
      <input type='reset' id="clear" value="Clear Filters"></input>
    </div>
<div>
      <a href="/create" id="createShort">+ Create Shortlink</a>
    </div>
  </form>
  <table class="all-links-table">
    <tr>
      <th>Status</th>
      <th>Owner</th>
      <th>Link</th>
      <th>Shortlink</th>
      <th>Actions</th>
    </tr>

    {% for row in data %}
    <tr class="tr">
      <td id='isactive'>
        {% if row.is_active %}
         <span class="actives">Active</span> 
          {% else %}
         <span class="disabled">Disabled</span> 
        {% endif %}
      </td>
      <td class='rowowner'>{{ row.owner }}</td>
      <td>
        <span><a id="links" href="{{ row.url }}">{{ row.url }}</a></span>
      </td>
      <td id="shortlinked-{{row.id}}">
        <span id="domain">www.{{domain_name}}</span><!-- / --><span id="endpoint1">/{{ row.endpoint}}</span>
      </td>
      
      <td class="actions">
        <a class="copy" onclick="copys('{{row.id}}')">
          <span id='copycat'></span>
          <div class="hovercopy"> <div class="trianglecover"> <span id='triangle-up'></span></div>
            <div class='hovercover'><span class="square square-{{row.id}}">copy</span></div></div>
          </a>
        <a class='editbtn'href="/edit/{{ row.id }}">
          <img src="Edit.svg" height="20" width="20" alt="Not found" class="edits"/>
          <img src="edithover.svg" alt="edit" class="hoveredit">
        </a>
        <div class='display'>
        <a class="display displatBtn" onclick="display('{{row.id}}')">
          <img src="Vector.svg" height="20" width="20" alt="Not found" class="share" />
          <img src="sharehover.svg" alt="share" class='sharehover'>
        </a>
        <div id="box-{{row.id}}" class='box'>      ahoj  </div>
      </div>
        <a href="/delete/active/{{ row.id }}" class="deletebtn">
          <img src="delete.svg" height="20" width="20" alt="Not found" class='delete' />
          <img src="deletehover.svg" alt="deletehover" class=" deletehover">
        </a>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>

{% endblock %}
