<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    {% block html_head %}{% endblock %}

    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"
    ></script>

    <meta charset="utf-8" />
    <title>Link Shortener</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/links/css/all_links.css" />
    <link rel="stylesheet" href="/links/css/create.css" />
    <link rel="stylesheet" href="/links/css/edit.css" />
    <link rel="stylesheet" href="/links/css/delete.css" />
    <link rel="stylesheet" href="/links/css/common.css" />
    <link rel="stylesheet" href="/links/css/not_found.css" />

    <style>
      :root {
        --primary-black:#11103c;
        --primary-purple:#322faf;
        --primary-grey:#aaa9bc;
        --primary-green:#1f7a78;
        --form-grey:#e6e6ef;
        --white:#fff;
      }
      body {
        font-family: "Poppins", sans-serif;
        background-color: #e9eff6;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    {% block content %} {% endblock %}
  </body>
  <script src=/links/js/all_links_form.js></script>
  <script src=/links/js/create_edit.js></script>
  <script src="/links/js/on_ready.js"></script>

</html>
