{% extends 'base.html' %} {% block content %}
<div class="editAndCreate">
  <a id="backBtn" href="/links/all">
    <img src="/links/arrow.svg" alt="" /> Back</a
  >

  <form id="form" action="" method="POST">
    <h1 id="form-header">Create a new link</h1>
    {{ '<br />'.join(form.csrf_token.errors) }} {{ form.csrf_token }} {{ '<br />'.join(form.endpoint.errors)
    }}
    <br />
    <ul class="formContent">
      <label class="formLabel">Original URL *</label>
      <li>
        {{ form.url(size=30, placeholder="original.url/original", id="orgUrl",
        class='formRequiredField formInput' ) }}
      </li>
      <label class="formLabel">Shortlink *</label>
      <li>
        {{ form.endpoint(size=30, placeholder="example/suffix", id="shortlink",
        class='formRequiredField formInput') }}
      </li>
      <label class="formLabel" id="advSettings">
        <span> <i id="icon" class="fa fa-angle-right"></i> </span>Advanced
        Settings</label
      >
      <div id="advRequirements">
        <li>
          {{ form.password(size=30, placeholder="Password", class='formInput')
          }}
        </li>
        <li>
          {{ form.switch_date(size=30, placeholder="Deactivate on: YYYY-MM-DD",
          type='date', class='formInput') }}
          <input
            type="text"
            name="birthday"
            placeholder="Deactivate on"
            class="formInput"
          />
        </li>
      </div>
      <span id="fueled">
        <div>
          <span id="shortlinked">www.fueled.by/</span
          ><!-- qqw --><span id="fueledEndPoint"></span>
        </div>
        <div>
          <a class="copy" onclick="copySingle()">
            <img src="/links/copyicon.svg" alt="copyicon" />
            <img
              src="/links/hovercopy.svg"
              alt="hovercopy"
              class="copyIconCreate"
            />
            <div class="hoverCopy">
              <div class="triangleContainer">
                <span id="triangle-up"></span>
              </div>
              <div class="hoverCopyContainer">
                <span class="copyHoverSquare">copy</span>
              </div>
            </div>
          </a>
        </div>
      </span>

      <li>{{ form.submit(class='formInput', id='submit')}}</li>
    </ul>
  </form>
</div>
{% endblock %}
