{% extends 'base.html' %} {% block content %}
<a class="backBtn" href="/links/all"
  ><img src="/links/icons/arrow.svg" alt="" />Back</a
>
<form class="form" action="">
  <h1>Delete shortlink</h1>
  <div class="ownerOfLinkContainer">Owner</div>
  <div id="fueled">www.fueled.by/example <span id="copycat"></span></div>
  <div id="deleteQ">Are you sure you want to <br />delete this link?</div>
  <div class="container__submit">
    <a class="aTag" href="/delete/{{ link_id }}"
      ><div class="formInput" id="deleteBtn">Delete</div></a
    >
    <a class="aTag" href="/links/all">
      <div class="formInput" id="cancelBtn">Cancel</div></a
    >
  </div>
</form>
{% endblock %}
