{% extends 'base.html' %} {% block content %}
<a id="backBtn" href="/links/all"><img src="/links/arrow.svg" alt="" />Back</a>
<form id="form" action="">
  <h1 id="form-header">Delete Link</h1>
  <div class="ownerOfLinkContainer">Owner</div>
  <div id="fueled">www.fueled.by/example <span id="copycat"></span></div>
  <div id="deleteQ">Are you sure you want to <br />delete this link?</div>
  <button class="formInput" id="deleteBtn">Delete</button>
  <button class="formInput" id="cancelBtn">Cancel</button>
</form>
{% endblock %}
