{% extends 'base.html' %} {% block content %}
<a class="backBtn" href="/links/all"
  ><img src="/links/icons/arrow.svg" alt="" />Back</a
>
<form class="form" action="">
  <h1>Delete shortlink</h1>
  <div class="ownerOfLinkContainer">
    <span class="ownerOfLink">owned by</span> {{owner}}
  </div>

  <div class="fueled">
    <div class="shortlinked">
      <span>www.fueled.by</span
      ><!-- / --><span class="fueledEndPoint">/{{endpoint}}</span>
    </div>

    <div>
      <a class="copy" onclick="copySingle()">
        <img src="/links/icons/copy__Icon.svg" alt="copyicon" />
        <img
          src="/links/icons/hover__Copy.svg"
          alt="hovercopy"
          class="copyIconCreate"
        />
        <div class="hoverCopy">
          <div class="triangleContainer">
            <span id="triangle-up"></span>
          </div>
          <div class="hoverCopyContainer">
            <span class="copyHoverSquare">copy</span>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div id="deleteQ">Are you sure you want to <br />delete this link?</div>
  <div class="container__submit">
    <a class="aTag" href="/delete/{{ link_id }}"
      ><div class="formInput" id="deleteBtn">Delete</div></a
    >
    <a class="aTag" href="/links/all">
      <div class="formInput" id="cancelBtn">Cancel</div></a
    >
  </div>
</form>
{% endblock %}
