{% extends 'base.html' %} {% block content %}
<a class="backBtn" href="/links/all">
  <img src="/links/icons/arrow.svg" alt="" /> Back</a
>
<div class="editAndCreate">
  <form class="form" action="#" method="POST">
    <h1 class="form-header">Edit Shortlink</h1>
    <div class="ownerOfLinkContainer">
      <span class="ownerOfLink">owned by</span> {{payload.owner}}
    </div>
    {{ '<br />'.join(form.csrf_token.errors) }} {{ form.csrf_token }} {{ '<br />'.join(form.url.errors)
    }}
    <ul class="formContent">
      <br />
      <li><h4 class="formLabel">Change URL:</h4></li>
      <li>{{ form.url(size=40, value=payload.url, class="formInput") }}</li>
      <br />
      <li><h4 class="formLabel">Change Endpoint:</h4></li>
      <li>
        {{ form.endpoint(size=40, value=payload.endpoint, class="formInput",
        id='shortlink') }}
      </li>

      <!--<dd></dd> -->
      <label class="formLabel" id="advSettings">
        <span>
          <img
            id="icon"
            class="rotate"
            src="/links/icons/openArrow.svg"
            alt=""
          /> </span
        >Advanced Settings</label
      >
      <div id="advRequirements">
        {% if payload.password %}
        <li><h4 class="formLabel">Change password:</h4></li>
        {% else %}
        <li><h4 class="formLabel">Set a password:</h4></li>
        {% endif %}
        <li>{{ form.password(size=40, placeholder="Enter a password", value= default_password if payload.password, type="password", class='formInput') }}</li>
        {% if payload.switch_date %} {% if payload.is_active %}
        <h4 class="formLabel">Link will deactivate on:</h4>
        {% else %}
        <h4 class="formLabel">Link will activate on:</h4>
        {% endif %}
        <li>
          {{ form.switch_date(size=40, value=payload.switch_date,
          class='formInput', type='date' ) }}
        </li>
        {% else %} {% if payload.is_active %}
        <h4 class="formLabel">Set a date to deactivate link</h4>
        {% else %}
        <h4 class="formLabel">Set a date to activate link</h4>
        {% endif %}
        <li>
          {{ form.switch_date(size=40, placeholder="YYYY-MM-DD",
          class='formInput', type='date' ) }}
        </li>
        {% endif %}
      </div>
      <span id="fueled">
        <div id="shortlinked">
          <span>www.fueled.by</span
          ><!-- / --><span id="fueledEndPoint">/{{payload.endpoint}}</span>
        </div>
        <div>
          <a class="copy" onclick="copySingle()">
            <img src="/links/icons/copyicon.svg" alt="copyicon" />
            <img
              src="/links/icons/hovercopy.svg"
              alt="hovercopy"
              class="copyIconCreate"
            />
            <div class="hoverCopy">
              <div class="triangleContainer">
                <span id="triangle-up"></span>
              </div>
              <div class="hoverCopyContainer">
                <span class="copyHoverSquare">copy</span>
              </div>
            </div>
          </a>
        </div>
      </span>
      <li>{{ form.submit(id='edit', class='formInput') }}</li>
      <li>
        <div id="edit-anchor">
          {% if payload.is_active %}
          <a class="deactivate" href="/deactivate/{{ payload.id }}">Disable</a>
          {% if payload.password %}
          <a class="resetDelete" href="/reset/{{ payload.id }}"
            >Reset password</a
          >
          {% endif %} {% else %}
          <a class="activate" href="/activate/{{ payload.id }}">Activate</a>
          {% if payload.password %}
          <a class="resetDelete" href="/reset/{{ payload.id }}"
            >Reset password</a
          >
          {% endif %} {% endif %}
        </div>
      </li>
    </ul>
  </form>
</div>
{% endblock %}
