{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <form action="" method="POST">
      <h1 id="form-header">/{{ payload.endpoint }}</h1>
      {{ '<br>'.join(form.csrf_token.errors) }}
      {{ form.csrf_token }}
      {{ '<br>'.join(form.url.errors) }}
      <ul>
        <li>
          <div id="edit-anchor">
            {% if payload.is_active %}
              <a class="deactivate" href="/deactivate/{{ payload.id }}">Deactivate link</a>
              {% if payload.password %}
                <a class="reset-delete" href="/reset/{{ payload.id }}">Reset password</a>
              {% endif %}
            {% else %}
              <a class="activate" href="/activate/{{ payload.id }}">Activate link</a>
              {% if payload.password %}
                <a class="reset-delete" href="/reset/{{ payload.id }}">Reset password</a>
              {% endif %}
            {% endif %}
            <a class="reset-delete" href="/delete/{{ payload.id }}">Delete link</a>
          </div>
        </li>
        <br>
        <li><h4>Change URL:</h4></li>
        <li>{{ form.url(size=40, value=payload.url) }}</li>
        <br>
        {% if payload.password %}
          <li><h4>Change password:</h4></li>
        {% else %}
          <li><h4>Set a password:</h4></li>
        {% endif %}
        <li>{{ form.password(size=40) }}</li>
        <br>
        {% if payload.switch_date %}
          {% if payload.is_active %}
            <h4>Link will deactivate on:</h4>
          {% else %}
            <h4>Link will activate on:</h4>
          {% endif %}
          <li>{{ form.switch_date(size=40, value=payload.switch_date) }}</li>
        {% else %}
          {% if payload.is_active %}
            <h4>Set a date to deactivate link</h4>
          {% else %}
            <h4>Set a date to activate link</h4>
          {% endif %}
          <li>{{ form.switch_date(size=40, placeholder="YYYY-MM-DD") }}</li>
        {% endif %}
        <li>{{ form.submit }}</li>
      </ul>
    </form>
  </div>
{% endblock %}
