{% extends 'base.html' %} {% block content %}
<a id="back" href="/links/all">Back</a>
<div class="">
  <form id="form" action="" method="POST">
    <h1 id="form-header">Edit Shortlink</h1>
    <div style="text-align: center;">
      <span style="color: #aaa9bc;">owned by</span> {{payload.owner}}
    </div>
    {{ '<br />'.join(form.csrf_token.errors) }} {{ form.csrf_token }} {{ '<br />'.join(form.url.errors)
    }}
    <ul>
      <br />
      <li><h4>URL to shorten *</h4></li>
      <li>
        {{ form.url(size=40, value=payload.url) }}
      </li>
      <li><h4>Suffix *</h4></li>
      <li>
        <input type="text" value="{{ payload.endpoint }}" id="shortlink" />
      </li>
      <label id="settings">Advanced Settings</label>
      <div id="extra">
        {% if payload.password %}
        <li><h4>Change password:</h4></li>
        {% else %}
        <li><h4>Set a password:</h4></li>
        {% endif %}
        <li>{{ form.password(size=40) }}</li>
        {% if payload.switch_date %} {% if payload.is_active %}
        <h4>Link will deactivate on:</h4>
        {% else %}
        <h4>Link will activate on:</h4>
        {% endif %}
        <li>{{ form.switch_date(size=40, value=payload.switch_date) }}</li>
        {% else %} {% if payload.is_active %}
        <h4>Set a date to deactivate link</h4>
        {% else %}
        <h4>Set a date to activate link</h4>
        {% endif %}
        <li>{{ form.switch_date(size=40, placeholder="YYYY-MM-DD") }}</li>
        {% endif %}
      </div>
      <span id="fueled">
        <span id="shortlinked"> www.fueled.by/{{payload.endpoint}}</span>
        <a class="copy" onclick="copyinline()">
          <span id="copycat"></span>
          <div class="hovercopy">
            <div class="trianglecover"><span id="triangle-up"></span></div>
            <div class="hovercover">
              <span class="square">copy</span>
            </div>
          </div>
        </a>
      </span>
      <li>{{ form.submit(id='edit') }}</li>
      <li>
        <div id="edit-anchor">
          {% if payload.is_active %}
          <a class="deactivate" href="/deactivate/{{ payload.id }}">Disable</a>
          {% if payload.password %}
          <a class="reset-delete" href="/reset/{{ payload.id }}"
            >Reset password</a
          >
          {% endif %} {% else %}
          <a class="activate" href="/activate/{{ payload.id }}">Activate</a>
          {% if payload.password %}
          <a class="reset-delete" href="/reset/{{ payload.id }}"
            >Reset password</a
          >
          {% endif %} {% endif %}
          <!-- <a class="reset-delete" href="/delete/{{ payload.id }}"
            >Delete link</a
          > -->
        </div>
      </li>
    </ul>
  </form>
</div>
{% endblock %}
