{% extends 'base.html' %} {% block content %}

<form action="#" id="passwordForm" class="form" method="POST">
  {{ '<br />'.join(form.csrf_token.errors) }} {{ form.csrf_token }} {{ '<br />'.join(form.password.errors)
  }}
  <br />

  <h1 class="passwordHeader">Visit secured shortlink</h1>
  <div class="passwordContainer">
    <label class="formLabel">Password for visiting shortlink</label>
    <div id="passwordBorder">
      {{ form.password(size=20, class='password', type='password') }}
      <span onclick="toggleShow()">
        <img id="image" src="/links/icons/eye.svg" alt="" />
      </span>
    </div>
    <div id="incorrectPass">Invalid password</div>
  </div>
  <span id="fueled">
    <div id="shortlinked">
      <span>www.fueled.by</span
      ><!-- qqw --><span id="fueledEndPoint">/{{ payload.endpoint }}</span>
    </div>
  </span>
  <div id="visitShortlink">
    {{ form.submit(id='visit') }}
    <img src="/links/icons/arrowWhite.svg" alt="" />
  </div>
</form>

{% endblock %}
