{% extends 'base.html' %}

{% block content %}

    <!-- How to retrieve messages:
      {% if message['from'] and message['status'] %}
          {{ message['from'] }} {{ message['status'] }}
      {% endif %}
    -->

  <div class="container">
    <form action="" method="POST">
      <h1 id="form-header">/{{ payload.endpoint }}</h1>
      {{ '<br>'.join(form.csrf_token.errors) }}
      {{ form.csrf_token }}
      {{ '<br>'.join(form.password.errors) }}
      <br>
      <ul>
        <li>{{ form.password(size=20, placeholder='Enter a password') }}</li>
        <li>{{ form.submit }}</li>
      </ul>
    </form>
  </div>
{% endblock %}
