{% extends 'base.html' %} {% block content %}

<form action="#" class="form password__form" method="POST">
  {{ '<br />'.join(form.csrf_token.errors) }} {{ form.csrf_token }} {{ '<br />'.join(form.password.errors)
  }}
  <br />

  <h1>Visit secured shortlink</h1>
  <div class="container1">
    <label class="container1__label">Password for visiting shortlink</label>
    <div class="container1__border">
      <div class="container1__password">
        {{ form.password(size=20, type='password') }}
      </div>
      <span onclick="toggleShow()" class="image__container">
        <img class="container1__image" src="/links/icons/eye.svg" alt="" />
      </span>
    </div>
    <div class="container1__incorrectPass">Invalid password</div>
  </div>
  <span class="strip">
    <div class="strip__shortlink">
      <span>www.fueled.by</span
      ><!-- qqw --><span class="strip__endPoint">/{{ payload.endpoint }}</span>
    </div>
  </span>
  <div class="visit__btn__container">
    <button class="visit__btn">
      {{ form.submit(id='btn__visit') }}
      <img src="/links/icons/arrowWhite.svg" alt="" />
    </button>
  </div>
</form>

{% endblock %}
