.activate {
  color: var(--primary-green);
  border: 2.5px solid var(--primary-green);
  width: 83.33%;
  margin: 0.5em 2.5rem;
  font-size: 14px;
  font-weight: bold;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.deactivate {
  color: var(--primary-purple);
  border: 3px solid var(--primary-purple);
  width: 83.33%;
  margin: 0.5em 2.5rem;
  font-size: 14px;
  font-weight: bold;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.activate:hover {
  color: var(--primary-green);
}
.deactivate:hover {
  color: var(--primary-purple);
}
#advRequirements {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  margin: 0 !important;
}
#edit {
  background-color: var(--primary-purple);
  color: var(--white);
  border: none !important;
  height: 3rem;
}
#edit-anchor a {
  text-decoration: none;
  padding: 0.2em 1em;
}

.resetDelete {
  width: 83.33%;
  margin: 0.5rem 2.5rem;
  padding: 0.6rem;
  border: 1px solid var(--primary-black);
}
.resetDelete:hover {
  color: var(--white);
  background-color: #484d4d;
}
.ownerOfLinkContainer {
  text-align: center;
}
.ownerOfLink {
  color: #aaa9bc;
}
